openapi: 3.0.0
info:
  title: Flow Experimental API
  description: |
    Experimental API endpoints for the Flow Access Node. These endpoints are subject to change without notice.
    Endpoints may be moved to a permanent API once they are stable.
  version: 0.1.0
servers:
- url: https://rest-testnet.onflow.org
  description: Flow Testnet
- url: https://rest-mainnet.onflow.org
  description: Flow Mainnet
tags:
- name: Accounts
  description: Endpoints for querying account-related data.
- name: ScheduledTransactions
  description: Endpoints for querying scheduled transaction data.
paths:
  /experimental/v1/accounts/{address}/transactions:
    get:
      tags:
      - Accounts
      summary: Get account transactions
      description: |
        Returns a paginated list of transactions for the given account address,
        ordered descending by block height (newest first).
      operationId: getAccountTransactions
      parameters:
      - name: address
        in: path
        description: The account address (hex-encoded without 0x prefix).
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Address"
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`
          field.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Cursor"
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          default: 50
      - name: roles
        in: query
        description: A comma-separated list indicating which roles to filter by.
        required: false
        style: form
        explode: false
        schema:
          $ref: "#/components/schemas/Role"
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: A page of account transactions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTransactionsResponse"
        "400":
          description: "Bad request (invalid address, cursor, or limit)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No account found for the given address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /experimental/v1/accounts/{address}/ft/transfers:
    get:
      tags:
      - Accounts
      summary: Get account fungible token transfers
      description: |
        Returns a paginated list of fungible token transfers for the given account address,
        ordered descending by block height (newest first).
      operationId: getAccountFungibleTransfers
      parameters:
      - name: address
        in: path
        description: The account address (hex-encoded without 0x prefix).
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Address"
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`
          field.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Cursor"
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          default: 50
      - name: token_type
        in: query
        description: Filter by fully qualified token type (e.g. `A.1654653399040a61.FlowToken`).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: source_address
        in: query
        description: Filter by the sender address of the transfer.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: recipient_address
        in: query
        description: Filter by the recipient address of the transfer.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: role
        in: query
        description: "Filter by the account's role in the transfer. If unset, returns\
          \ both sent and received transfers."
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/TransferRole"
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: A page of fungible token transfers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountFungibleTransfersResponse"
        "400":
          description: "Bad request (invalid address, cursor, or limit)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No account found for the given address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /experimental/v1/accounts/{address}/nft/transfers:
    get:
      tags:
      - Accounts
      summary: Get account non-fungible token transfers
      description: |
        Returns a paginated list of non-fungible token transfers for the given account address,
        ordered descending by block height (newest first).
      operationId: getAccountNonFungibleTransfers
      parameters:
      - name: address
        in: path
        description: The account address (hex-encoded without 0x prefix).
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Address"
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`
          field.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Cursor"
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          default: 50
      - name: token_type
        in: query
        description: Filter by fully qualified token type (e.g. `A.1654653399040a61.FlowToken`).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: source_address
        in: query
        description: Filter by the sender address of the transfer.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: recipient_address
        in: query
        description: Filter by the recipient address of the transfer.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: role
        in: query
        description: "Filter by the account's role in the transfer. If unset, returns\
          \ both sent and received transfers."
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/TransferRole"
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: A page of non-fungible token transfers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountNonFungibleTransfersResponse"
        "400":
          description: "Bad request (invalid address, cursor, or limit)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No account found for the given address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /experimental/v1/scheduled:
    get:
      tags:
      - ScheduledTransactions
      summary: List scheduled transactions
      description: |
        Returns a paginated list of scheduled transactions, ordered descending by scheduled transaction identifier (newest first).
        Results can be filtered by status, priority, time range, and transaction handler properties.
      operationId: getScheduledTransactions
      parameters:
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`
          field.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Cursor"
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          default: 50
      - name: statuses
        in: query
        description: A comma-separated list of scheduled transaction statuses to filter
          by.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ScheduledTransactionStatus"
      - name: priority
        in: query
        description: Filter by scheduled transaction priority.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/ScheduledTransactionPriority"
      - name: start_time
        in: query
        description: "Filter to include only scheduled transactions with a scheduled\
          \ time at or after this value (inclusive, RFC 3339)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: "Filter to include only scheduled transactions with a scheduled\
          \ time at or before this value (inclusive, RFC 3339)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: handler_owner
        in: query
        description: Filter by the address of the account that owns the transaction
          handler.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: handler_type_identifier
        in: query
        description: Filter by the Cadence type identifier of the transaction handler
          (e.g. `A.1654653399040a61.MyScheduler.Handler`).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: handler_uuid
        in: query
        description: Filter by the UUID of the transaction handler resource.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uint64
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: A page of scheduled transactions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduledTransactionsResponse"
        "400":
          description: "Bad request (invalid filter parameters, cursor, or limit)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /experimental/v1/scheduled/transaction/{id}:
    get:
      tags:
      - ScheduledTransactions
      summary: Get scheduled transaction by ID
      description: Returns the scheduled transaction with the given ID.
      operationId: getScheduledTransactionByID
      parameters:
      - name: id
        in: path
        description: The scheduled transaction identifier (hex-encoded).
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Identifier"
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: The scheduled transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduledTransaction"
        "400":
          description: Bad request (invalid transaction ID).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No scheduled transaction found for the given ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /experimental/v1/scheduled/account/{address}:
    get:
      tags:
      - ScheduledTransactions
      - Accounts
      summary: List scheduled transactions for an account
      description: |
        Returns a paginated list of scheduled transactions associated with the given account address,
        ordered descending by scheduled time (newest first).
        Results can be filtered by status, priority, time range, and transaction handler properties.
      operationId: getScheduledTransactionsByAccount
      parameters:
      - name: address
        in: path
        description: The account address (hex-encoded without 0x prefix).
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Address"
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response's `next_cursor`
          field.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Cursor"
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          default: 50
      - name: statuses
        in: query
        description: A comma-separated list of scheduled transaction statuses to filter
          by.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/ScheduledTransactionStatus"
      - name: priority
        in: query
        description: Filter by scheduled transaction priority.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/ScheduledTransactionPriority"
      - name: start_time
        in: query
        description: "Filter to include only scheduled transactions with a scheduled\
          \ time at or after this value (inclusive, RFC 3339)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: "Filter to include only scheduled transactions with a scheduled\
          \ time at or before this value (inclusive, RFC 3339)."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: handler_owner
        in: query
        description: Filter by the address of the account that owns the transaction
          handler.
        required: false
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/Address"
      - name: handler_type_identifier
        in: query
        description: Filter by the Cadence type identifier of the transaction handler
          (e.g. `A.1654653399040a61.MyScheduler.Handler`).
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: handler_uuid
        in: query
        description: Filter by the UUID of the transaction handler resource.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uint64
      - name: expand
        in: query
        description: A comma-separated list indicating which properties of the content
          to expand.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      - name: select
        in: query
        description: A comma-separated list indicating which properties of the content
          to return.
        required: false
        style: form
        explode: false
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: A page of scheduled transactions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduledTransactionsResponse"
        "400":
          description: "Bad request (invalid address, filter parameters, cursor, or\
            \ limit)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No account found for the given address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    AccountTransactionsResponse:
      required:
      - transactions
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/AccountTransaction"
        next_cursor:
          $ref: "#/components/schemas/Cursor"
      example:
        next_cursor: next_cursor
        transactions:
        - transaction_id: transaction_id
          result: null
          _links: null
          roles:
          - authorizer
          - authorizer
          block_height: block_height
          transaction_index: transaction_index
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
        - transaction_id: transaction_id
          result: null
          _links: null
          roles:
          - authorizer
          - authorizer
          block_height: block_height
          transaction_index: transaction_index
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
    AccountTransaction:
      required:
      - _expandable
      - block_height
      - roles
      - timestamp
      - transaction_id
      - transaction_index
      type: object
      properties:
        block_height:
          type: string
          description: Block height where the transaction was included.
          format: uint64
        timestamp:
          type: string
          description: Timestamp of the block where the transaction was included.
          format: date-time
        transaction_id:
          $ref: "#/components/schemas/Identifier"
        transaction_index:
          type: string
          description: Index of the transaction within the block.
          format: uint32
        roles:
          type: array
          items:
            type: string
            enum:
            - authorizer
            - payer
            - proposer
            - interacted
        transaction:
          $ref: "#/components/schemas/Transaction"
        result:
          $ref: "#/components/schemas/TransactionResult"
        _expandable:
          $ref: "#/components/schemas/AccountTransaction__expandable"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        transaction_id: transaction_id
        result: null
        _links: null
        roles:
        - authorizer
        - authorizer
        block_height: block_height
        transaction_index: transaction_index
        _expandable:
          result: http://example.com/aeiou
          transaction: http://example.com/aeiou
        transaction:
          _links: null
          reference_block_id: null
          payer: payer
          script: script
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          envelope_signatures:
          - null
          - null
          gas_limit: gas_limit
          payload_signatures:
          - address: null
            signature: ""
            key_index: key_index
          - address: null
            signature: ""
            key_index: key_index
          arguments:
          - ""
          - ""
          id: null
          authorizers:
          - null
          - null
          _expandable:
            result: http://example.com/aeiou
          proposal_key:
            sequence_number: sequence_number
            address: null
            key_index: key_index
        timestamp: 2000-01-23T04:56:07.000+00:00
    Address:
      pattern: "^[a-fA-F0-9]{16}$"
      type: string
      description: The 8-byte address of an account.
      format: hexadecimal
    Cursor:
      type: string
      description: Opaque pagination cursor from a previous response's `next_cursor`
        field.
      format: base64
    Event:
      required:
      - event_index
      - payload
      - transaction_id
      - transaction_index
      - type
      type: object
      properties:
        type:
          $ref: "#/components/schemas/EventType"
        transaction_id:
          $ref: "#/components/schemas/Identifier"
        transaction_index:
          type: string
          format: uint64
        event_index:
          type: string
          format: uint64
        payload:
          type: string
          format: byte
      example:
        transaction_id: null
        payload: ""
        transaction_index: transaction_index
        type: type
        event_index: event_index
    EventType:
      type: string
      description: The qualified event type.
    Identifier:
      pattern: "^[a-fA-F0-9]{64}$"
      type: string
      description: A 32-byte unique identifier for an entity.
      format: hexadecimal
    Links:
      type: object
      properties:
        _self:
          type: string
      example:
        _self: _self
    ProposalKey:
      required:
      - address
      - key_index
      - sequence_number
      type: object
      properties:
        address:
          $ref: "#/components/schemas/Address"
        key_index:
          type: string
          format: uint64
        sequence_number:
          type: string
          format: uint64
      example:
        sequence_number: sequence_number
        address: null
        key_index: key_index
    Role:
      type: string
      enum:
      - authorizer
      - payer
      - proposer
      - interacted
    Signature:
      type: string
      description: A variable length signature.
      format: byte
    Transaction:
      required:
      - _expandable
      - arguments
      - authorizers
      - envelope_signatures
      - gas_limit
      - id
      - payer
      - payload_signatures
      - proposal_key
      - reference_block_id
      - script
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Identifier"
        script:
          type: string
          description: Base64 encoded Cadence script.
          format: base64
        arguments:
          type: array
          description: "Array of Base64 encoded arguments with in [JSON-Cadence interchange\
            \ format](https://docs.onflow.org/cadence/json-cadence-spec/)."
          items:
            type: string
            format: byte
        reference_block_id:
          $ref: "#/components/schemas/Identifier"
        gas_limit:
          type: string
          description: The limit on the amount of computation a transaction is allowed
            to perform.
          format: uint64
        payer:
          $ref: "#/components/schemas/Address"
        proposal_key:
          $ref: "#/components/schemas/ProposalKey"
        authorizers:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        payload_signatures:
          type: array
          items:
            $ref: "#/components/schemas/TransactionSignature"
        envelope_signatures:
          type: array
          items:
            $ref: "#/components/schemas/TransactionSignature"
        result:
          $ref: "#/components/schemas/TransactionResult"
        _expandable:
          $ref: "#/components/schemas/Transaction__expandable"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        _links: null
        reference_block_id: null
        payer: payer
        script: script
        result:
          collection_id: null
          error_message: error_message
          execution: Pending
          status_code: 0
          _links:
            _self: _self
          block_id: null
          computation_used: computation_used
          events:
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          status: Pending
        envelope_signatures:
        - null
        - null
        gas_limit: gas_limit
        payload_signatures:
        - address: null
          signature: ""
          key_index: key_index
        - address: null
          signature: ""
          key_index: key_index
        arguments:
        - ""
        - ""
        id: null
        authorizers:
        - null
        - null
        _expandable:
          result: http://example.com/aeiou
        proposal_key:
          sequence_number: sequence_number
          address: null
          key_index: key_index
    TransactionResult:
      required:
      - block_id
      - collection_id
      - computation_used
      - error_message
      - events
      - status
      - status_code
      type: object
      properties:
        block_id:
          $ref: "#/components/schemas/Identifier"
        collection_id:
          $ref: "#/components/schemas/Identifier"
        execution:
          $ref: "#/components/schemas/TransactionExecution"
        status:
          $ref: "#/components/schemas/TransactionStatus"
        status_code:
          type: integer
        error_message:
          type: string
          description: Provided transaction error in case the transaction wasn't successful.
        computation_used:
          type: string
          format: uint64
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        collection_id: null
        error_message: error_message
        execution: Pending
        status_code: 0
        _links:
          _self: _self
        block_id: null
        computation_used: computation_used
        events:
        - transaction_id: null
          payload: ""
          transaction_index: transaction_index
          type: type
          event_index: event_index
        - transaction_id: null
          payload: ""
          transaction_index: transaction_index
          type: type
          event_index: event_index
        status: Pending
    TransactionExecution:
      type: string
      description: "This value indicates whether the transaction execution succeeded\
        \ or not, this value should be checked when determining transaction success."
      enum:
      - Pending
      - Success
      - Failure
    TransactionStatus:
      type: string
      description: This value indicates the state of the transaction execution. Only
        sealed and expired are final and immutable states.
      enum:
      - Pending
      - Finalized
      - Executed
      - Sealed
      - Expired
    TransactionSignature:
      required:
      - address
      - key_index
      - signature
      type: object
      properties:
        address:
          $ref: "#/components/schemas/Address"
        key_index:
          type: string
          format: uint64
        signature:
          $ref: "#/components/schemas/Signature"
      description: Base64 encoded signature.
      example:
        address: null
        signature: ""
        key_index: key_index
    AccountFungibleTransfersResponse:
      required:
      - transfers
      type: object
      properties:
        transfers:
          type: array
          items:
            $ref: "#/components/schemas/FungibleTokenTransfer"
        next_cursor:
          $ref: "#/components/schemas/Cursor"
      example:
        next_cursor: next_cursor
        transfers:
        - transaction_id: transaction_id
          amount: amount
          _links:
            _self: _self
          event_indices:
          - event_indices
          - event_indices
          block_height: block_height
          transaction_index: transaction_index
          recipient_address: null
          token_type: token_type
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          source_address: source_address
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
        - transaction_id: transaction_id
          amount: amount
          _links:
            _self: _self
          event_indices:
          - event_indices
          - event_indices
          block_height: block_height
          transaction_index: transaction_index
          recipient_address: null
          token_type: token_type
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          source_address: source_address
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
    AccountNonFungibleTransfersResponse:
      required:
      - transfers
      type: object
      properties:
        transfers:
          type: array
          items:
            $ref: "#/components/schemas/NonFungibleTokenTransfer"
        next_cursor:
          $ref: "#/components/schemas/Cursor"
      example:
        next_cursor: next_cursor
        transfers:
        - transaction_id: transaction_id
          _links:
            _self: _self
          event_indices:
          - event_indices
          - event_indices
          block_height: block_height
          transaction_index: transaction_index
          recipient_address: null
          token_type: token_type
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          nft_id: nft_id
          source_address: source_address
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
        - transaction_id: transaction_id
          _links:
            _self: _self
          event_indices:
          - event_indices
          - event_indices
          block_height: block_height
          transaction_index: transaction_index
          recipient_address: null
          token_type: token_type
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          nft_id: nft_id
          source_address: source_address
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          transaction:
            _links: null
            reference_block_id: null
            payer: payer
            script: script
            result:
              collection_id: null
              error_message: error_message
              execution: Pending
              status_code: 0
              _links:
                _self: _self
              block_id: null
              computation_used: computation_used
              events:
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              - transaction_id: null
                payload: ""
                transaction_index: transaction_index
                type: type
                event_index: event_index
              status: Pending
            envelope_signatures:
            - null
            - null
            gas_limit: gas_limit
            payload_signatures:
            - address: null
              signature: ""
              key_index: key_index
            - address: null
              signature: ""
              key_index: key_index
            arguments:
            - ""
            - ""
            id: null
            authorizers:
            - null
            - null
            _expandable:
              result: http://example.com/aeiou
            proposal_key:
              sequence_number: sequence_number
              address: null
              key_index: key_index
          timestamp: 2000-01-23T04:56:07.000+00:00
    FungibleTokenTransfer:
      required:
      - _expandable
      - amount
      - block_height
      - event_indices
      - recipient_address
      - source_address
      - timestamp
      - token_type
      - transaction_id
      - transaction_index
      type: object
      properties:
        transaction_id:
          $ref: "#/components/schemas/Identifier"
        block_height:
          type: string
          description: Block height where the transfer was included.
          format: uint64
        timestamp:
          type: string
          description: Timestamp of the block where the transfer was included.
          format: date-time
        transaction_index:
          type: string
          description: Index of the transaction within the block.
          format: uint32
        event_indices:
          type: array
          description: Indices of the events within the transaction that represent
            this transfer.
          items:
            type: string
            format: uint32
        token_type:
          type: string
          description: Fully qualified token type identifier (e.g. `A.1654653399040a61.FlowToken`).
        amount:
          type: string
          description: "Amount of tokens transferred, as a decimal string."
        source_address:
          $ref: "#/components/schemas/Address"
        recipient_address:
          $ref: "#/components/schemas/Address"
        transaction:
          $ref: "#/components/schemas/Transaction"
        result:
          $ref: "#/components/schemas/TransactionResult"
        _expandable:
          $ref: "#/components/schemas/AccountTransaction__expandable"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        transaction_id: transaction_id
        amount: amount
        _links:
          _self: _self
        event_indices:
        - event_indices
        - event_indices
        block_height: block_height
        transaction_index: transaction_index
        recipient_address: null
        token_type: token_type
        result:
          collection_id: null
          error_message: error_message
          execution: Pending
          status_code: 0
          _links:
            _self: _self
          block_id: null
          computation_used: computation_used
          events:
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          status: Pending
        source_address: source_address
        _expandable:
          result: http://example.com/aeiou
          transaction: http://example.com/aeiou
        transaction:
          _links: null
          reference_block_id: null
          payer: payer
          script: script
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          envelope_signatures:
          - null
          - null
          gas_limit: gas_limit
          payload_signatures:
          - address: null
            signature: ""
            key_index: key_index
          - address: null
            signature: ""
            key_index: key_index
          arguments:
          - ""
          - ""
          id: null
          authorizers:
          - null
          - null
          _expandable:
            result: http://example.com/aeiou
          proposal_key:
            sequence_number: sequence_number
            address: null
            key_index: key_index
        timestamp: 2000-01-23T04:56:07.000+00:00
    NonFungibleTokenTransfer:
      required:
      - _expandable
      - block_height
      - event_indices
      - nft_id
      - recipient_address
      - source_address
      - timestamp
      - token_type
      - transaction_id
      - transaction_index
      type: object
      properties:
        transaction_id:
          $ref: "#/components/schemas/Identifier"
        block_height:
          type: string
          description: Block height where the transfer was included.
          format: uint64
        timestamp:
          type: string
          description: Timestamp of the block where the transfer was included.
          format: date-time
        transaction_index:
          type: string
          description: Index of the transaction within the block.
          format: uint32
        event_indices:
          type: array
          description: Indices of the events within the transaction that represent
            this transfer.
          items:
            type: string
            format: uint32
        token_type:
          type: string
          description: Fully qualified NFT collection type (e.g. `A.1654653399040a61.MyNFT`).
        nft_id:
          type: string
          description: Unique identifier of the NFT within its collection.
          format: uint64
        source_address:
          $ref: "#/components/schemas/Address"
        recipient_address:
          $ref: "#/components/schemas/Address"
        transaction:
          $ref: "#/components/schemas/Transaction"
        result:
          $ref: "#/components/schemas/TransactionResult"
        _expandable:
          $ref: "#/components/schemas/AccountTransaction__expandable"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        transaction_id: transaction_id
        _links:
          _self: _self
        event_indices:
        - event_indices
        - event_indices
        block_height: block_height
        transaction_index: transaction_index
        recipient_address: null
        token_type: token_type
        result:
          collection_id: null
          error_message: error_message
          execution: Pending
          status_code: 0
          _links:
            _self: _self
          block_id: null
          computation_used: computation_used
          events:
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          - transaction_id: null
            payload: ""
            transaction_index: transaction_index
            type: type
            event_index: event_index
          status: Pending
        nft_id: nft_id
        source_address: source_address
        _expandable:
          result: http://example.com/aeiou
          transaction: http://example.com/aeiou
        transaction:
          _links: null
          reference_block_id: null
          payer: payer
          script: script
          result:
            collection_id: null
            error_message: error_message
            execution: Pending
            status_code: 0
            _links:
              _self: _self
            block_id: null
            computation_used: computation_used
            events:
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            - transaction_id: null
              payload: ""
              transaction_index: transaction_index
              type: type
              event_index: event_index
            status: Pending
          envelope_signatures:
          - null
          - null
          gas_limit: gas_limit
          payload_signatures:
          - address: null
            signature: ""
            key_index: key_index
          - address: null
            signature: ""
            key_index: key_index
          arguments:
          - ""
          - ""
          id: null
          authorizers:
          - null
          - null
          _expandable:
            result: http://example.com/aeiou
          proposal_key:
            sequence_number: sequence_number
            address: null
            key_index: key_index
        timestamp: 2000-01-23T04:56:07.000+00:00
    TransferRole:
      type: string
      enum:
      - sender
      - recipient
    ScheduledTransactionsResponse:
      required:
      - scheduled_transactions
      type: object
      properties:
        scheduled_transactions:
          type: array
          items:
            $ref: "#/components/schemas/ScheduledTransaction"
        next_cursor:
          $ref: "#/components/schemas/Cursor"
      example:
        scheduled_transactions:
        - fees: fees
          fees_deducted: fees_deducted
          transaction_handler_public_path: transaction_handler_public_path
          _links:
            _self: _self
          failed_transaction_id: null
          priority: low
          transaction_handler_type_identifier: transaction_handler_type_identifier
          execution_effort: execution_effort
          transaction_handler_owner: transaction_handler_owner
          transaction_handler_uuid: transaction_handler_uuid
          scheduled_transaction_id: scheduled_transaction_id
          cancelled_transaction_id: null
          id: id
          executed_transaction_id: null
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          fees_returned: fees_returned
          status: scheduled
          timestamp: timestamp
        - fees: fees
          fees_deducted: fees_deducted
          transaction_handler_public_path: transaction_handler_public_path
          _links:
            _self: _self
          failed_transaction_id: null
          priority: low
          transaction_handler_type_identifier: transaction_handler_type_identifier
          execution_effort: execution_effort
          transaction_handler_owner: transaction_handler_owner
          transaction_handler_uuid: transaction_handler_uuid
          scheduled_transaction_id: scheduled_transaction_id
          cancelled_transaction_id: null
          id: id
          executed_transaction_id: null
          _expandable:
            result: http://example.com/aeiou
            transaction: http://example.com/aeiou
          fees_returned: fees_returned
          status: scheduled
          timestamp: timestamp
        next_cursor: next_cursor
    ScheduledTransaction:
      required:
      - _expandable
      - execution_effort
      - fees
      - id
      - priority
      - status
      - timestamp
      - transaction_handler_owner
      - transaction_handler_type_identifier
      - transaction_handler_uuid
      type: object
      properties:
        id:
          type: string
          description: Scheduler-assigned uint64 identifier.
          format: uint64
        status:
          $ref: "#/components/schemas/ScheduledTransactionStatus"
        priority:
          $ref: "#/components/schemas/ScheduledTransactionPriority"
        timestamp:
          type: string
          description: Scheduled execution timestamp as a UFix64 decimal string.
        execution_effort:
          type: string
          description: Execution effort estimate as a UFix64 decimal string.
        fees:
          type: string
          description: Scheduled fee as a UFix64 decimal string.
        transaction_handler_owner:
          $ref: "#/components/schemas/Address"
        transaction_handler_type_identifier:
          type: string
          description: Fully qualified Cadence type identifier of the transaction
            handler (e.g. `A.1654653399040a61.MyScheduler.Handler`).
        transaction_handler_uuid:
          type: string
          description: Resource UUID of the transaction handler.
          format: uint64
        transaction_handler_public_path:
          type: string
          description: "Public path of the transaction handler, if set."
        fees_returned:
          type: string
          description: "Fees returned on cancellation, as a UFix64 decimal string."
        fees_deducted:
          type: string
          description: "Fees deducted on cancellation, as a UFix64 decimal string."
        scheduled_transaction_id:
          $ref: "#/components/schemas/Identifier"
        executed_transaction_id:
          $ref: "#/components/schemas/Identifier"
        cancelled_transaction_id:
          $ref: "#/components/schemas/Identifier"
        failed_transaction_id:
          $ref: "#/components/schemas/Identifier"
        _expandable:
          $ref: "#/components/schemas/AccountTransaction__expandable"
        _links:
          $ref: "#/components/schemas/Links"
      example:
        fees: fees
        fees_deducted: fees_deducted
        transaction_handler_public_path: transaction_handler_public_path
        _links:
          _self: _self
        failed_transaction_id: null
        priority: low
        transaction_handler_type_identifier: transaction_handler_type_identifier
        execution_effort: execution_effort
        transaction_handler_owner: transaction_handler_owner
        transaction_handler_uuid: transaction_handler_uuid
        scheduled_transaction_id: scheduled_transaction_id
        cancelled_transaction_id: null
        id: id
        executed_transaction_id: null
        _expandable:
          result: http://example.com/aeiou
          transaction: http://example.com/aeiou
        fees_returned: fees_returned
        status: scheduled
        timestamp: timestamp
    ScheduledTransactionStatus:
      type: string
      description: The current lifecycle status of a scheduled transaction.
      enum:
      - scheduled
      - executed
      - cancelled
      - failed
    ScheduledTransactionPriority:
      type: string
      description: The execution priority of a scheduled transaction.
      enum:
      - low
      - medium
      - high
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    AccountTransaction__expandable:
      type: object
      properties:
        transaction:
          type: string
          description: Link to fetch the full transaction body.
          format: uri
        result:
          type: string
          description: Link to fetch the transaction result.
          format: uri
      description: "Contains URI links for fields not included in the response. When\
        \ a field is expanded via the `expand` query parameter, it appears inline\
        \ and is removed from `_expandable`."
      example:
        result: http://example.com/aeiou
        transaction: http://example.com/aeiou
    Transaction__expandable:
      type: object
      properties:
        result:
          type: string
          format: uri
      example:
        result: http://example.com/aeiou
  parameters:
    cursorParam:
      name: cursor
      in: query
      description: Opaque pagination cursor from a previous response's `next_cursor`
        field.
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/Cursor"
    limitParam:
      name: limit
      in: query
      description: The maximum number of results to return.
      required: false
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 50
    rolesParam:
      name: roles
      in: query
      description: A comma-separated list indicating which roles to filter by.
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Role"
    expandParam:
      name: expand
      in: query
      description: A comma-separated list indicating which properties of the content
        to expand.
      required: false
      style: form
      explode: false
      schema:
        minItems: 1
        uniqueItems: true
        type: array
        items:
          type: string
    selectParam:
      name: select
      in: query
      description: A comma-separated list indicating which properties of the content
        to return.
      required: false
      style: form
      explode: false
      schema:
        minItems: 1
        uniqueItems: true
        type: array
        items:
          type: string
    tokenTypeParam:
      name: token_type
      in: query
      description: Filter by fully qualified token type (e.g. `A.1654653399040a61.FlowToken`).
      required: false
      style: form
      explode: true
      schema:
        type: string
    sourceAddressParam:
      name: source_address
      in: query
      description: Filter by the sender address of the transfer.
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/Address"
    recipientAddressParam:
      name: recipient_address
      in: query
      description: Filter by the recipient address of the transfer.
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/Address"
    transferRoleParam:
      name: role
      in: query
      description: "Filter by the account's role in the transfer. If unset, returns\
        \ both sent and received transfers."
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/TransferRole"
    scheduledStatusesParam:
      name: statuses
      in: query
      description: A comma-separated list of scheduled transaction statuses to filter
        by.
      required: false
      style: form
      explode: false
      schema:
        minItems: 1
        uniqueItems: true
        type: array
        items:
          $ref: "#/components/schemas/ScheduledTransactionStatus"
    priorityParam:
      name: priority
      in: query
      description: Filter by scheduled transaction priority.
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/ScheduledTransactionPriority"
    startTimeParam:
      name: start_time
      in: query
      description: "Filter to include only scheduled transactions with a scheduled\
        \ time at or after this value (inclusive, RFC 3339)."
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    endTimeParam:
      name: end_time
      in: query
      description: "Filter to include only scheduled transactions with a scheduled\
        \ time at or before this value (inclusive, RFC 3339)."
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    handlerOwnerParam:
      name: handler_owner
      in: query
      description: Filter by the address of the account that owns the transaction
        handler.
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/Address"
    handlerTypeIdentifierParam:
      name: handler_type_identifier
      in: query
      description: Filter by the Cadence type identifier of the transaction handler
        (e.g. `A.1654653399040a61.MyScheduler.Handler`).
      required: false
      style: form
      explode: true
      schema:
        type: string
    handlerUuidParam:
      name: handler_uuid
      in: query
      description: Filter by the UUID of the transaction handler resource.
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: uint64
